body{
    margin: 100px;

}
.sbumit_area{
margin-top: 50px;
border-radius: 10px;
box-shadow: 5px 5px 10px gray;
padding: 40px;
}

#transaction_area{
   display: none;
}

.status{
    padding: 20px 30px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.deposit{
    background-color: slateblue;

}
.withdraw{
    background-color: salmon;

}
.balance{
    background-color: sandybrown;
}